<div class="left-sidebar">
	<h2>Danh Mục</h2>
    <div class="panel-group category-products" id="accordian">
        <!--category-productsr-->

		<vc:categories/>

	</div><!--/category-products-->

	<div class="brands_products">
		<!--brands_products-->
		<h2>Thương Hiệu</h2>
		<vc:brands/>
	</div><!--/brands_products-->

</div>