

<br />
<section class="aboutus-section">
    <div class="bg-section">
        <h1 class="aboutus-title">ABOUT US</h1>
        <div class="text-center">
            <img src="" /images/5.jpg"" class="aboutus-logo">
        </div>
        <div class="aboutus-content">
            <p>
                <strong>Năm 1968</strong>, tại cao nguyên chè danh tiếng Bảo Lộc (Lâm Đồng), Phúc Long được ra đời với kỳ vọng mang đến những sản phẩm trà và cà phê chất lượng.
            </p>
            <p>
                <strong>Vào những năm 80</strong>, Phúc Long khai trương ba cửa hàng đầu tiên tại Thành phố Hồ Chí Minh trên đường Lê Văn Sỹ, Trần Hưng Đạo và Mạc Thị Bưởi nhằm giới thiệu sản phẩm  trà và cà phê thuần Việt đến với khách hàng trong nước cũng như quốc tế.
            </p>
            <p>
                Đặc biệt, cửa hàng Phúc Long Mạc Thị Bưởi toạ lạc tại trung tâm Quận 1 là cửa hàng đầu tiên phục vụ các thức uống Trà pha chế đặc trưng của Phúc Long và Cà-phê pha máy cao cấp thường chỉ được phục vụ tại các nhà hàng sang trọng vào giai đoạn đó.
            </p>
            <p>
                <strong>Năm 2000</strong>, công ty TNHH Sản Xuất Thương Mại Phúc Long chính thức được thành lập.
            </p>
            <p>
                <strong>Năm 2007</strong>, Phúc Long sở hữu đồi chè tại Thái Nguyên. Bởi chính bản thân tôi nhận thấy Trà Thái Nguyên cạnh tranh được về hương vị, hình thức và chất nước đặc trưng nhưng cũng giống như các loại trà ở các địa phương khác, việc kiểm soát các thành phần dư lượng theo tiêu chuẩn vệ sinh an toàn thực phẩm của thế giới thì trà Thái Nguyên vẫn chịu chung số phận “chưa phù hợp tiêu chuẩn”.
            </p>
            <p>
                Xác định rõ mục tiêu cần duy trì và bảo vệ chất lượng tự nhiên vốn có của trà Thái Nguyên, chính vì vậy tôi nhanh chóng quyết định đầu tư xây dựng nhà máy chế biến trà ngay tại Thái Nguyên. Phúc Long mong muốn qua việc đặt nhà máy ngay tại vùng nguyên liệu, chúng tôi có thể duy trì được cái “chất” của trà Thái một cách trọn vẹn đồng thời hạn chế tối đa các điều kiện nuôi trồng, thu hoạch và chế biến trà nhằm đảm bảo tốt nhất các vấn đề quản lý chất lượng tổng thể.
            </p>
            <p>
                Đồng thời trong năm 2007, Phúc Long đầu tư nhà máy chế biến trà và cà phê tại Bình Dương được trang bị nhiều thiết bị và máy móc hiện đại, có chứng nhận HACCP- quy trình đảm bảo đủ tiêu chuẩn an toàn vệ sinh thực phẩm, với mục tiêu đảm bảo cung ứng nguồn sản phẩm chất lượng, phục vụ thị trường trong nước và đáp ứng nhu cầu xuất khẩu. Cũng từ đây, Trà Phúc Long đã đáp ứng đầy đủ tiêu chuẩn để có mặt tại các thị trường khó tính như: Mỹ, Nhật Bản, Indonesia, Philippines…
            </p>
            <p>
                <strong>Năm 2019-2023</strong>, phát triển 70 cửa hàng và tiếp tục định hướng phát triển mở rộng hệ thống cửa hàng trải dài từ Nam ra Bắc. Bên cạnh đó, tăng độ phủ của sản phẩm trà và cà phê đến tất cả các hệ thống: siêu thị, cửa hàng tiện lợi, kênh thương mại điện tử…
            </p>
            <div class="text-center">
                <img src="/images/5.jpg" class="aboutus-goal">
            </div>
            <p>
                Trải qua hơn 50 năm chắt chiu tinh hoa từ những búp trà xanh và hạt cà phê thượng hạng cùng mong muốn mang lại cho khách hàng những trải nghiệm giá trị nhất khi thưởng thức, Phúc Long liên tục là thương hiệu tiên phong với nhiều ý tưởng sáng tạo đi đầu trong ngành trà và cà phê.
            </p>
            <p>
                Chúng tôi tin rằng từng sản phẩm trà và cà phê sẽ càng thêm hảo hạng khi được tạo ra từ sự phấn đấu không ngừng cùng niềm đam mê. Và chính kết nối dựa trên niềm tin, sự trung thực và tin yêu góp phần mang đến những nét đẹp trong văn hóa thưởng trà & cà phê ngày càng bay cao và vươn xa. Tiếp nối nỗ lực, từ một cửa hàng đầu tiên, đến nay, Phúc Long xây dựng hơn 80 cửa hàng trên khu vực TP.HCM, Bình Dương, Biên Hòa, Cần Thơ, Đà Nẵng, Nha Trang, Hà Nội phục vụ những thức uống tươi ngon từ trà và cà phê.
            </p>
            <p>
                Không dừng lại tại đó, chúng tôi tiếp tục định hướng phát triển mở rộng hệ thống cửa hàng trải dài từ Nam ra Bắc. Tăng độ phủ của sản phẩm đến tất cả các hệ thống: siêu thị, cửa hàng tiện lợi…
            </p>
            <p>
                Hoạt động với phương châm “Chất lượng khởi nguồn từ đam mê”, cùng nhau, chúng tôi đã và đang viết tiếp câu chuyện của một thương hiệu Việt giàu truyền thống, kết nối tinh túy của nhiều thập niên kinh nghiệm và không ngừng chắt lọc, làm mới mình trong bước chuyển thời gian để trở thành thương hiệu luôn gắn bó với nhiều thế hệ khách hàng.
            </p>
        </div>
    </div>
</section>
<!-- Section End -->
<br />
<style>
    .aboutus-section {
        padding: 30px;
    }

    .bg-section {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    }

    .aboutus-title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 20px;
    }

    .aboutus-logo {
        align-content: center;
        height: 200px;
        margin-bottom: 20px;
    }

    .aboutus-content p {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .aboutus-goal {
        align-content: center;
        height: 300px;
        width: 600px;
        margin: 20px 0;
    }
</style>